body{
  margin:0;
  font-family:Arial;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;   /* vertical center */
  align-items: center;       /* horizontal center */
  height: 100vh;         
  width: 100%;    /* full screen height */
  text-align: center;
}

section{
  margin:40px 0;
}

@media (max-width:768px){

.container{
padding:20px;
}

h1{
font-size:28px;
}

}